venv*
__pycache__*

# Python/Django specific
*.pyc
__pycache__/
*.py[cod]
*.swp
*.bak
*.tmp

# Virtual environment
venv/
.env

# Django specific
*.log
db.sqlite3

# Static files (usually collected using `collectstatic`)
staticfiles/

# Media files
media/

# IDE/Editor specific
.vscode/
.idea/
*.sublime-*
*.swp

# Project configuration files
*.settings
